<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="<%= htmlWebpackPlugin.options.themeColor %>">
  <link rel="manifest" href="<%= htmlWebpackPlugin.options.resourcePath %><%= htmlWebpackPlugin.options.manifest %>">
  <!--禁止将数字转换为拨号链接-->
  <meta name="format-detection" content="telephone=no">
  <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
  <!--
  <link rel="canonical" href="http://www.example.com/">
  -->
  <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.resourcePath %><%= htmlWebpackPlugin.options.favIcon %>">
  <% for (var css in htmlWebpackPlugin.files.css) { %>
  <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
  <% } %>
  <script type="application/javascript">
  window.__INITIAL_STATE__ = null;
 </script>
  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
  <script async src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
  <% } %>
</head>
<body>
  <noscript style="text-align:center;">
    <h5>You need to enable JavaScript to run this app.Please <a href="http://enable-javascript.com/" target="_blank">enable javascript</a> and refresh your browser to continue</h5>
  </noscript>
</body>
</html>
